[core]
	excludesfile = /Users/colin.ogoo/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Colin Ogoo
	email = colin.ogoo@bynd.com
[commit]
	template = /Users/colin.ogoo/.git-commit-template
[http]
	cookiefile = /Users/colin.ogoo/LocalHost/Bynd/gweb-miyagi/tmp/.gitcookies
[alias]
	co = checkout
	s = status --short
	c = cz
	d = diff -w -b
	last = log --graph -1 HEAD
	b = branch
	a = add
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	amend = !git a -A && git commit --amend --no-edit
	amend-commit = !git a -A && git commit --amend
	p = push origin $(git rev-parse --abbrev-ref HEAD)
	new = checkout -b
	f = fetch --all
	alias = config --get-regexp ^alias\\.
	clear = reset --hard
	undo-commit = reset HEAD~1
	unstage = reset HEAD --
	discard = checkout -- 
	save = stash save -u 
